body
    font-family: sans-serif

.bg-theme
    background-color: pink

img
    display: flex
    margin: 0 auto
    border-radius: 5px
    width: 100%

.button
    border: none

    &:hover
        color: pink !important
        background-color: black

.nav-link
    border-radius: 5px
    padding: 5px

    &:hover
        color: pink !important
        background-color: black

.navbar-toggler-right
    border: none

    &:focus
        box-shadow: none
