{% set data = load_data(path='processed-standings.csv', format="csv") %}
{% set target_records = data.records | slice(start=0, end=8) %}

<table>
    <tr>
        <th>Team</th>
        <th>Sets Won</th>
        <th>Sets Lost</th>
        <th>Win %</th>
        <th>Games Behind</th>
    </tr>
    
{% for row in target_records %}
    <tr>
{% set target_values = row | slice(start=0, end=5) %}
{% for value in target_values %}
            <td>{{ value }}</td>
{% endfor %}
    </tr>
{% endfor %}
</table>
