{% extends "base.html" %}

{% block content %}
<div class="row g-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">Page not found</div>
            <div class="card-body">
                <div class="row g-4">
                    <div class="col-12">
                        <a class="btn btn-primary bg-theme text-dark button w-100" href="/" role="button">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}