<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ config.description }}" />
    <meta name="author" content="{{ config.author }}" />
    
    <title>
        {% if page.title %}
            GMVL &middot; {{ page.title }}
        {% else %}
            GMVL
        {% endif %}
    </title>
    
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/all.min.js"></script>
</head>