<head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ config.author }}" />
    <meta name="description" content="{{ config.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>
        {% if page is defined and page.title %}
            GMVL &middot; {{ page.title }}
        {% else %}
            GMVL
        {% endif %}
    </title>

    <link rel="apple-touch-icon" sizes="180x180" href="/man/apple-touch-icon.png">
    <link rel="icon" href="/man/favicon.ico" type="image/x-icon" >
    <link rel="icon" href="/man/favicon.svg" type="image/svg+xml">
    <link rel="icon" type="image/png" sizes="16x16" href="/man/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/man/favicon-32x32.png">
    <link rel="manifest" href="/man/site.webmanifest">
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />

    <script src="/all.min.js"></script>
    <script src="/bootstrap.bundle.min.js"></script>
</head>
