{% extends "base.html" %}

{% block content %}
<div class="row g-4">
<div class="col-12">
<div class="card h-100 text-center">
    <div class="card-header">
        Announcements
    </div>
    <div class="card-body">
        This is a new website for the NASA goddard mixed volleyball league! Working on updates for the 2026-27 season!
        <br><br>
        <img src="/gmvl-banner.png" class="col-12" />
    </div>
</div>
</div>
</div>

<div class="row g-4 mt-0">
<div class="col-12">
<div class="card text-center">
    <div class="card-header">
        2027 Schedule
    </div>
    <div class="card-body">
        Schedule is now live, check out the <a href="/scores">scores page!</a>
        <br><br>
        <img src="/2027-schedule.png" class="col-12" />
    </div>
</div>
</div>
</div>
{% endblock content %}
