{% extends "base.html" %}

{% block content %}
<div class="row g-4">
<div class="col-12">
<div class="card h-100">
    <div class="card-header text-center">
        Announcements
    </div>
    <div class="card-body">
        This is a temporary site for the NASA goddard mixed volleyball league. The site is currently under construction, so check back soon!
        <br><br>
        <img src="/logo.svg" class="col-2" />
    </div>
</div>
</div>
</div>

<div class="row g-4 mt-0">
<div class="col-12">
<div class="card">
    <div class="card-header text-center">
        2026 Schedule
    </div>
    <div class="card-body overflow-auto">
        <img src="/2026.png" />
    </div>
</div>
</div>
</div>
{% endblock content %}
