<nav class="navbar navbar-expand-sm sticky-top bg-theme" id="mainNav">
    <div class="container px-4 px-sm-5">
        <a class="navbar-brand text-dark" href="/">
            <i class="fas fa-volleyball-ball"></i>
            <!--<img class="img-fluid mx-auto" src="/logo.svg" width="40" />-->
            {{ config.description }}
        </a>

        <button class="navbar-toggler navbar-toggler-right text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
            <i class="fas fa-bars"></i>
            Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-itempdown">
                    <a class="nav-link text-dark" href="/about">About</a>
                </li>
                <li class="nav-itempdown">
                    <a class="nav-link text-dark" href="/scores">Scores</a>
                </li>
                <li class="nav-itempdown">
                    <a class="nav-link text-dark" href="/teams">Teams</a>
                </li>
                <li class="nav-itempdown">
                    <a class="nav-link text-dark" href="/rules">Rules</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
